@page "/"

<h3>Contador</h3>

<p>Valor atual: @Counter</p>

<button @onclick="StartIncrementing">Incrementar</button>

@code {
    private int Counter = 1;

    private void StartIncrementing()
    {
        if (Counter < 100)
        {
            Counter++;
        }
    }
}
